#content
{
     margin-left: 20px;
}

.mes
{
     word-break: break-all;
     padding: 25px 0px 25px 0px;
}

.imgPost
{
     border: 1px solid #000000;
     display: block;
     border-radius: 8px;
     width: auto;
     height: auto;
     max-height: 20%;
     max-width: 20%;
}

body{
	background-color: rgb(153, 204, 255);
}

h1{
	color: rgb(0, 0, 0);
}

.proPicture
{
	border: 1px solid #000000;
	display: block;
	border-radius: 50%;
	max-height: 100px;
	max-width: 100px;
	
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px)
{
	.imgPost
	{
     		border: 1px solid #000000;
     		display: block;
     		border-radius: 8px;
		width: 30%;
		height: 30%;
     		max-height: 160px;
     		max-width: 220px;
	}
}
