#content
{
     margin-left: 20px;
}

.mes
{
     word-break: break-all;
     padding: 100px 0px 0px 0px;
}

.imgPost
{
     display: block;
     border-radius: 8px;
     max-height: 300px;
     max-width: 500px;
}
