#content
{
     margin-left: 20px;
}

.mes
{
     word-break: break-all;
     padding: 25px 0px 25px 0px;
}

.imgPost
{
     border: 1px solid #ddd;
     display: block;
     border-radius: 8px;
     max-height: 300px;
     max-width: 500px;
}

body{
	background-color: rgb(153, 204, 255);
}

h1{
	color: rgb(0, 153, 51);
}
