{% extends 'layout.html' %}
{% block title %}Social Hour{% endblock %}

{% block content %}
<h1>Social Hour</h1>
{% if 'github_token' in session %}
<form action="/posted" enctype="multipart/form-data" method="post">
  <textarea name="message" style="width:100%; height:100px;"></textarea>
  <br>
  <input name="file" type="file">
  <br>
  <input type="submit" value="submit">
</form>
{% else %}
  <p>Must be logged in.</p>
{% endif %}
{{ message }}
<form action="/b" method="post">
{{ posts }}
</form>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="1.png" alt="SB">
    </div>
    <div class="carousel-item">
      <img src="2.png" alt="Lemon">
    </div>
    <div class="carousel-item">
      <img src="3.png" alt="Avengers">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endblock %}
