{% extends 'layout.html' %}
{% block title %}Social Hour{% endblock %}

{% block content %}
 <img src="{{url_for('static',filename='SocialHourlogo.jpg')}}" alt="dsfdsa" id ="homeimg">

<h1>Social Hour</h1>
{% if 'github_token' in session %}
<form action="/posted" enctype="multipart/form-data" method="post">
  <textarea name="message" style="width:100%; height:100px;"></textarea>
  <br>
  <input name="file" type="file">
  <br>
  <input type="submit" value="Post">
</form>
{% else %}
  <p>Must be logged in.</p>
{% endif %}
{{ message }}
<form id="deleteForm" action="/b" method="post"></form>
<form id="replyForm" action="/reply" enctype="multipart/form-data" method="post"></form>
{{ posts }}



{% endblock %}
