{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<h1>Profile</h1>
<a href="http://www.coastalview.com/opinion/fathers-and-sons/article_6c383b76-4ad5-11e7-b8cf-dbc80ce4592e.html">Visit our HTML tutorial</a>
<h3>User: {{ name }}</h3>
<br>
{{ profile_pic }}
{% if 'github_token' in session %}
{{ setting }}
<br>
<h1>Bio</h1>
<br>
{{ description }}
<br>
<h1>Posts</h1>
<br>
<form id="deleteForm" action="/b" method="post"></form>
{{ posts }}
{% else %}
<p>Must be logged in.</p>
{% endif %}
{% endblock %}
