{% extends 'layout.html' %}
{% block title %}Quiz{% endblock %}
<!DOCTYPE html>
<html>
 <body>
   <h1>Quiz</h1>
  <button type="button" onclick="alert('Who is the richest man in the world?')">Question 1</button>
  <button type="button" onclick="alert('How many dictators have their been in North Korea counting the current dictator?')">Question 2</button>
  <button type="button" onclick="alert('What is the first Pokemon in the PokeDex?')">Question 3</button>
  <button type="button" onclick="alert('What Harry Potter character has his wand disguised as an umbrella?')">Question 4</button>
  <button type="button" onclick="alert('What is the name of the first nintendo system ever made?')">Question 5</button>
  <br>
  <button type="button" onclick="alert('Bill Gates')">Q1 Answer</button>
  <button type="button" onclick="alert('3')">Q2 Answer</button>
  <button type="button" onclick="alert('Bulbasaur')">Q3 Answer</button>
  <button type="button" onclick="alert('Hagrid')">Q4 Answer</button>
  <button type="button" onclick="alert('Nintendo Entertainment System')">Q5 Answer</button>
  
 </body>
</html>
{% block content %}
<h1>Quiz</h1>
{% endblock %}
