{% extends "layout.html" %}
{% block title %}Social Hour Quiz{% endblock %}
{% block content %}

   <h2>How do you get to the home page?</h2>
   
   <form action="/Q1" method = "POST">
  Answer:<br>

   <!--question 1-->

   <input id="a" type="radio" name="a" value="you don't" > you don't<br>
   <input id="b" type="radio" name="a" value="you eat pinapple" > you eat pinapple juice<br>
   <input id="c" type="radio" name="a" value="you press the Social Hour button" > Emerald<br>
   <input id="d" type="radio" name="a" value="Brockite" > Brockite<br>
   

 
<h2>How would you rate this website</h2>


   <!--question 2-->

   <input id="a" type="radio" name="a" value=" Great" > Great<br>
   <input id="b" type="radio" name="a" value="good, but could be improved" > good, but could be improved<br>
   <input id="c" type="radio" name="a" value="Not so great" > Not so great<br>
   <input id="d" type="radio" name="a" value="Bad" > Bad<br>
  

<h2>Fact:Skyler chandos can't code to save his life, true or false?</h2>
   
  

   <!--question 3-->

   <input id="a" type="radio" name="a" value="probably false" > probably false<br>
   <input id="b" type="radio" name="a" value="he isn't real" > he isn't real<br>
   <input id="c" type="radio" name="a" value="Emerald" > I'm not sure<br>
   <input id="d" type="radio" name="a" value="Brockite" > lets get the party started!<br>


<h2>T-rex or t-shirt?</h2>
   
 

   <!--question 4-->

   <input id="a" type="radio" name="a" value="yes" > yes<br>
   <input id="b" type="radio" name="a" value="yes sir" > yes sir<br>
   <input id="c" type="radio" name="a" value="no" > no<br>
   <input id="d" type="radio" name="a" value="no sir" > no sir<br>
 


<h2>cool website or nah</h2>
   


   <!--question 5-->

   <input id="a" type="radio" name="a" value="sucks big time" > Sucks big time<br>
   <input id="b" type="radio" name="a" value="sucks" > sucks<br>
   <input id="c" type="radio" name="a" value="not very good" > not very good<br>
   <input id="d" type="radio" name="a" value="okay" > okay<br>
   <input type="submit">
 </form> 
{% endblock %}
