{% extends 'layout.html' %}
{% block title %}Quiz{% endblock %}
<!DOCTYPE html>
<html>
 <body>
   <h1>Quiz</h1>
  <button type="button" onclick="alert('How Great is this website?')">Question 1</button>
  <button type="button" onclick="alert('What is the bast part of this website?')">Question 2</button>
  <button type="button" onclick="alert('On a scale of 1-10 how amazing is this website??')">Question 3</button>
  <button type="button" onclick="alert('What is the name of this website?')">Question 4</button>
  <button type="button" onclick="alert('How many days are there in a fortnite?')">Question 5</button>
  <br>
  <button type="button" onclick="alert('Amazing is the only correct answer')">Q1 Answer</button>
  <button type="button" onclick="alert('Everything!')">Q2 Answer</button>
  <button type="button" onclick="alert('11')">Q3 Answer</button>
  <button type="button" onclick="alert('Social Hour!')">Q4 Answer</button>
  <button type="button" onclick="alert('YOU CHEATER YOU LOOKED ON THE INTERNET! its 14 by the way.')">Q5 Answer</button>
  
 </body>
</html>
{% block content %}
<h1>Quiz</h1>
{% endblock %}
