{% extends 'layout.html' %}
{% block title %}Quiz{% endblock %}
<!DOCTYPE html>
<html>
 <body>
   <h1>Quiz</h1>
  <button type="button" onclick="alert('Who is the richest man in the world?')">Question 1</button>
  <button type="button" onclick="alert('How many dictators have their been in North Korea counting the current dictator?')">Question 2</button>
  <button type="button" onclick="alert('What is the first Pokemon in the PokeDex?')">Question 3</button>
  <button type="button" onclick="alert('What Harry Potter character has his wand disguised as an umbrella?')">Question 4</button>
  <button type="button" onclick="alert('What is the name of the first nintendo system ever made?')">Question 5</button>
  <button type="button" onclick="alert('What team won the SuperBowl in 2011?')">Question 6</button>
  <button type="button" onclick="alert('Who was the 42nd President of the United States?')">Question 7</button>
  <button type="button" onclick="alert('What number in the pokedex is Pikachu?')">Question 8</button>
  <button type="button" onclick="alert('What is the name of the second Star wars movie released?')">Question 9</button>
  <button type="button" onclick="alert('In a deck of cards which King has a sword going through his head?')">Question 10</button>
  <button type="button" onclick="alert('What item can you use to block a blue shell in Mario Kart 8?')">Question 11</button>
  <br>
  <button type="button" onclick="alert('Bill Gates')">Q1 Answer</button>
  <button type="button" onclick="alert('3')">Q2 Answer</button>
  <button type="button" onclick="alert('Bulbasaur')">Q3 Answer</button>
  <button type="button" onclick="alert('Hagrid')">Q4 Answer</button>
  <button type="button" onclick="alert('Nintendo Entertainment System')">Q5 Answer</button>
  <button type="button" onclick="alert('The Green Bay Packers')">Q6 Answer</button>
  <button type="button" onclick="alert('Bill Clinton')">Q7 Answer</button>
  <button type="button" onclick="alert('25')">Q8 Answer</button>
  <button type="button" onclick="alert('The Empire Strikes Back')">Q9 Answer</button>
  <button type="button" onclick="alert('The King of Hearts')">Q10 Answer</button>
  <button type="button" onclick="alert('A Super Horn')">Q11 Answer</button>
  <br>
  <img src="http://mcleod805.github.io/Quiz-App/flag-75047_960_720.jpg" alt="American Flag">
  <img src="http://mcleod805.github.io/Quiz-App/1200px-Flag_of_North_Korea.svg.png" alt="North Korean Flag">
  <img src="http://mcleod805.github.io/Quiz-App/2000px-Nintendo_red_logo.svg.png" alt="Nintendo">
  <img src="http://mcleod805.github.io/Quiz-App/International_Pokémon_logo.svg.png" alt="Pokemon">
  <img src="http://mcleod805.github.io/Quiz-App/1280px-Star_Wars_Logo.svg.png" alt="Star Wars">
  <img src="http://mcleod805.github.io/Quiz-App/1200px-Harry_Potter_wordmark.svg.png" alt="Harry Potter">
  <img src="http://mcleod805.github.io/Quiz-App/maxresdefault.jpg" alt="Mario Kart 8 Deluxe">
  <img src="http://mcleod805.github.io/Quiz-App/bigstock-playing-cards-27305468-640x428.jpg" alt="Deck Of Cards">
  <img src="http://mcleod805.github.io/Quiz-App/money3.jpg" alt="Money">
  <img src="http://mcleod805.github.io/Quiz-App/nfl.png" alt="NFL">
  
 </body>
</html>
{% block content %}
<h1>Quiz</h1>
{% endblock %}
