{% extends "layout.html" %}
{% block title %}Social Hour Quiz{% endblock %}
{% block content %}

   <h2>How do you get to the home page?</h2>
   
   <form action="/Q1" method = "POST">
  Answer:<br>

   <!--question 1-->

   <input id="a" type="radio" name="a" value="you don't" > you don't<br>
   <input id="b" type="radio" name="a" value="you eat pinapple" > you eat pinapple juice<br>
   <input id="c" type="radio" name="a" value="you press the Social Hour button" > Emerald<br>
   <input id="d" type="radio" name="a" value="Brockite" > Brockite<br>
   <input type="submit">
 </form> 
 
<h2>Where is the salad bar located within the website?</h2>
   
   <form action="/Q2" method = "POST">
  Answer:<br>

   <!--question 2-->

   <input id="a" type="radio" name="a" value=" home page" > home page<br>
   <input id="b" type="radio" name="a" value="profile page" > profile page<br>
   <input id="c" type="radio" name="a" value="link to Mcleods family" > link to Mcleods family<br>
   <input id="d" type="radio" name="a" value="seee ya lateer alligater" > seee ya lateer alligater<br>
   <input type="submit">
 </form> 

<h2>Fact:Skyler chandos can't code to save his life, true or false?</h2>
   
   <form action="/Q3" method = "POST">
  Answer:<br>

   <!--question 3-->

   <input id="a" type="radio" name="a" value="probably false" > probably false<br>
   <input id="b" type="radio" name="a" value="he isn't real" > he isn't real<br>
   <input id="c" type="radio" name="a" value="Emerald" > I'm not sure<br>
   <input id="d" type="radio" name="a" value="Brockite" > lets get the party started!<br>
   <input type="submit">
 </form> 

<h2>T-rex or t-shirt?</h2>
   
   <form action="/Q4 method = "POST">
  Answer:<br>

   <!--question 4-->

   <input id="a" type="radio" name="a" value="yes" > yes<br>
   <input id="b" type="radio" name="a" value="yes sir" > yes sir<br>
   <input id="c" type="radio" name="a" value="no" > no<br>
   <input id="d" type="radio" name="a" value="no sir" > no sir<br>
   <input type="submit">
 </form>

<h2>cool website or nah</h2>
   
   <form action="/Q5 method = "POST">
  Answer:<br>

   <!--question 5-->

   <input id="a" type="radio" name="a" value="sucks big time" > Sucks big time<br>
   <input id="b" type="radio" name="a" value="sucks" > sucks<br>
   <input id="c" type="radio" name="a" value="not very good" > not very good<br>
   <input id="d" type="radio" name="a" value="okay" > okay<br>
   <input type="submit">
 </form> 
{% endblock %}
